[package]
name = "deno_task_shell"
version = "0.3.1"
authors = ["the Deno authors"]
documentation = "https://docs.rs/deno_task_shell"
edition = "2021"
homepage = "https://deno.land/"
license = "MIT"
repository = "https://github.com/denoland/deno_task_shell"
description = "Cross platform scripting for deno task"

[dependencies]
anyhow = "1.0.55"
futures = "0.3.16"
path-dedot = "3.0.14"
tokio = { version = "1", features = ["fs", "io-std", "io-util", "macros", "process", "rt-multi-thread", "sync", "time"] }
os_pipe = "1.0.1"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["jobapi2"] }

[dev-dependencies]
parking_lot = "0.12.0"
pretty_assertions = "1"
tempfile = "3.2.0"
